.TodoItem{
    background-color: #c8d8df;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px 10px;
    max-width: 90%;
    box-shadow: 0 0 7px black;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p--complete {
    text-decoration: line-through;
    background-color: #c8d8dfa1;
}
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}
.Icon-check {
    position: absolute;
    left: 12px;
}
.Icon-check--active {
    display: flex;
    
}
  
.Icon-check--hide{
  display: none;
}

.Icon-delete {
    position: absolute;
    top: -6px;
    right: 0;
}
.Icon-delete:hover {
    fill: rgb(255, 29, 29);
    -webkit-keyframes: vibrate-1 0.7s linear infinite both;
	        animation: vibrate-1 0.7s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-1px, 1px);
              transform: translate(-1px, 1px);
    }
    40% {
      -webkit-transform: translate(-1px, -1px);
              transform: translate(-1px, -1px);
    }
    60% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    80% {
      -webkit-transform: translate(1px, -1px);
              transform: translate(1px, -1px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-1px, 1px);
              transform: translate(-1px, 1px);
    }
    40% {
      -webkit-transform: translate(-1px, -1px);
              transform: translate(-1px, -1px);
    }
    60% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    80% {
      -webkit-transform: translate(1px, -1px);
              transform: translate(1px, -1px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}